[submodule "src/eufs_sim"]
	path = src/eufs_sim
	url = https://gitlab.com/eufs/eufs_sim.git
[submodule "src/eufs_msgs"]
	path = src/eufs_msgs
	url = https://gitlab.com/eufs/eufs_msgs.git
[submodule "src/eufs_rviz_plugins"]
	path = src/eufs_rviz_plugins
	url = https://gitlab.com/eufs/eufs_rviz_plugins.git
[submodule "src/localization"]
	path = src/localization
	url = https://gitlab.com/uh4662410/uhra/fs-ai-localization.git
[submodule "src/planning"]
	path = src/planning
	url = https://gitlab.com/uh4662410/uhra/fs-ai-planning.git
[submodule "src/control"]
	path = src/control
	url = https://gitlab.com/uh4662410/uhra/fs-ai-control.git
[submodule "src/mapping"]
	path = src/mapping
	url = https://gitlab.com/uh4662410/uhra/fs-ai-mapping.git
